# dependencies
    /node_modules

*.suo
*.user
_ReSharper.*
**/bin/
**/obj/
packages
.vs/
*.vsidx
**/v17/**/*.json
wwwroot/
obj/
wwwroot/
!wwwroot/**/*.json
**/wwwroot/
**/.vs/OrientApplication/
node_modules
**/*.suo
**/DocumentLayout.backup.json
/DocumentLayout.json


